name: deploy

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2

      - name: Install LateX base
        run: sudo apt-get install texlive-latex-base

      - name: Install LateX fonts
        run: sudo apt-get install texlive-fonts-recommended texlive-fonts-extra

      - name: Install LateX extra
        run: sudo apt-get install texlive-latex-extra

      - name: Install pandoc
        run: sudo apt-get install pandoc

      - name: Install pandoc-crossref
        env:
          LINK: https://github.com/lierdakil/pandoc-crossref/releases/download
          PANDOC_CROSSREF_VERSION: 0.3.6.4
          BINARY_FILE: pandoc-crossref-Linux-2.9.2.1.tar.xz
        run: |
          curl -LO "$LINK/v$PANDOC_CROSSREF_VERSION/$BINARY_FILE"
          tar -xf $BINARY_FILE -C $HOME

      - name: Install pandoc-citeproc
        run: sudo apt-get install pandoc-citeproc

      - name: Install Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
          architecture: 'x64'

      - name: Install python-docx
        run: pip install python-docx

      - name: Create deliverables and documents
        run: ./create-documents.sh

      - name: Upload deliverables and documents
        uses: actions/upload-artifact@v2
        with:
          name: deliverables-and-documents
          path: output/
          retention-days: 4
